<!-- Modal categorias -->
<div
  class="modal fade"
  id="modalCategoriaPrincipal"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalTitleCategoriesPrincipal">
          AGREGAR CATEGORÍA
        </h1>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmitCatergorias()">
        <div class="modal-body">
          <div class="text-end">
            <button
              type="button"
              class="btn btn-info"
              (click)="addCategoryToForm()"
            >
              <i class="fas fa-plus"></i>
            </button>
          </div>

          <ng-container formArrayName="elements">
            <table id="categoryTable" class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of elements.controls; let i = index">
                  <ng-container [formGroupName]="i">
                    <td>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="nombre"
                        required
                      />
                      <div
                        *ngIf="
                          element.get('nombre')?.invalid &&
                          element.get('nombre')?.touched
                        "
                        class="error"
                      >
                        El Nombre es requerido.
                      </div>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="removeCategoryForm(i)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid || elements.length == 0"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal área -->
<div
  class="modal fade"
  id="modalArea"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalTitleArea">AGREGAR ÁREA</h1>
      </div>
      <form [formGroup]="formArea" (ngSubmit)="onSubmitArea()">
        <div class="modal-body">
          <div class="col-lg-12 mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              id="nombre"
              type="text"
              class="form-control"
              formControlName="nombre"
              [ngClass]="{
                'is-invalid':
                  formArea.get('nombre')?.invalid &&
                  formArea.get('nombre')?.touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                formArea.get('nombre')?.invalid &&
                formArea.get('nombre')?.touched
              "
            >
              El nombre es requerido
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formArea.invalid"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal funcionario-->
<div
  class="modal fade"
  id="modalFuncionarios"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ isCreateFuncionario ? "Crear" : "Editar" }} funcionario
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="formFuncionario" (ngSubmit)="onSubmitFuncionario()">
        <div class="modal-body">
          <div class="col-lg-12 mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              id="nombre"
              type="text"
              class="form-control"
              formControlName="nombre"
              [ngClass]="{
                'is-invalid':
                  formFuncionario.get('nombre')?.invalid &&
                  formFuncionario.get('nombre')?.touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                formFuncionario.get('nombre')?.invalid &&
                formFuncionario.get('nombre')?.touched
              "
            >
              El nombre es requerido
            </div>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="cargo" class="form-label">Cargo</label>
            <input
              id="cargo"
              type="text"
              class="form-control"
              formControlName="cargo"
              [ngClass]="{
                'is-invalid':
                  formFuncionario.get('cargo')?.invalid &&
                  formFuncionario.get('cargo')?.touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                formFuncionario.get('cargo')?.invalid &&
                formFuncionario.get('cargo')?.touched
              "
            >
              El cargo es requerido
            </div>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input
              id="correo"
              type="text"
              class="form-control"
              formControlName="correo"
              [ngClass]="{
                'is-invalid':
                  formFuncionario.get('correo')?.invalid &&
                  formFuncionario.get('correo')?.touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                formFuncionario.get('correo')?.invalid &&
                formFuncionario.get('correo')?.touched
              "
            >
              El correo es requerido
            </div>
            <div
              class="invalid-feedback"
              *ngIf="formFuncionario.get('correo')?.errors?.['correo'] && formFuncionario.get('correo')?.touched"
            >
              Ingresa un correo valido
            </div>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="correo" class="form-label">Ubicación</label>
            <input
              id="ubicacion"
              type="text"
              class="form-control"
              formControlName="ubicacion"
              [ngClass]="{
                'is-invalid':
                  formFuncionario.get('ubicacion')?.invalid &&
                  formFuncionario.get('ubicacion')?.touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                formFuncionario.get('ubicacion')?.invalid &&
                formFuncionario.get('ubicacion')?.touched
              "
            >
              La ubicación es requerido
            </div>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="correo" class="form-label">Ciudad</label>
            <input
              id="ciudad"
              type="text"
              class="form-control"
              formControlName="ciudad"
              [ngClass]="{
                'is-invalid':
                  formFuncionario.get('ciudad')?.invalid &&
                  formFuncionario.get('ciudad')?.touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                formFuncionario.get('ciudad')?.invalid &&
                formFuncionario.get('ciudad')?.touched
              "
            >
              La ciudad es requerida
            </div>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="correo" class="form-label">Teléfono</label>
            <input
              id="telefono"
              type="text"
              class="form-control"
              formControlName="telefono"
              [ngClass]="{
                'is-invalid':
                  formFuncionario.get('telefono')?.invalid &&
                  formFuncionario.get('telefono')?.touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                formFuncionario.get('telefono')?.invalid &&
                formFuncionario.get('telefono')?.touched
              "
            >
              La teléfono es requerido
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formFuncionario.invalid"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div>
  <h4>Página</h4>
  <div class="row">
    <div class="col-lg-12">
      <mat-form-field style="width: 100%">
        <mat-label>Página</mat-label>
        <mat-select
          [(value)]="page"
          (selectionChange)="onPageSelectionChange()"
          name="page"
        >
          @for (page of pages; track page) {
          <mat-option [value]="page.value">{{ page.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="page > 0 && page <= 6">
    <form (ngSubmit)="onSubmit()">
      <ckeditor
        [editor]="Editor"
        [config]="config"
        [(ngModel)]="editorContent"
        name="editor"
      ></ckeditor>

      <div class="col-lg-4 offset-lg-4 mt-5">
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="page >= 7 && page <= 12">
    <div class="text-end mb-3">
      <button
        type="button"
        class="btn btn-info btn-sm me-1"
        (click)="cleanForm(); openModalCategoriesPrincipal()"
      >
        <i class="fas fa-plus"></i> Agregar categoría
      </button>
    </div>

    <div *ngFor="let section of sections; let i = index">
      <div *ngFor="let categoria of section.categorias; let j = index">
        <app-accordion
          *ngIf="categoria"
          [category]="categoria"
          [isAdmin]="true"
          [sectionId]="section.id"
          (pageSelectionChanged)="onPageSelectionChange()"
        >
        </app-accordion>
      </div>
    </div>
  </div>

  <div *ngIf="page == 13">
    <div class="text-end mb-3">
      <button
        class="btn btn-info"
        (click)="this.resetFormArea(); openModalArea()"
      >
        <i class="fas fa-plus"></i> Agregar área
      </button>
    </div>
    <div *ngFor="let area of areas; let i = index">
      <app-directorio
        *ngIf="area"
        [area]="area"
        [isAdmin]="true"
        (pageSelectionChanged)="onPageSelectionChange()"
        (onSubmitFuncionario)="onSubmitFuncionario()"
        (onGetFuncionario)="onGetFuncionario($event)"
        (onResetFormFuncionario)="onResetFormFuncionario($event)"
        (onOpenModalFuncionarios)="onOpenModalFuncionarios()"
      ></app-directorio>
    </div>
  </div>
</div>
