<div
  class="row"
  style="background-image: url('/assets/img/login/login.jpg'); height: 100vh"
>
  <div class="col-lg-6 offset-lg-3 justify-content-center align-self-center">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Usuario</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          aria-describedby="emailHelp"
          [(ngModel)]="login.email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          [(ngModel)]="login.password"
        />
      </div>
      <button type="button" class="btn btn-primary" (click)="onLogin()">
        Ingresar
      </button>
    </form>
  </div>
</div>
