<section
  class="myform-area d-flex align-items-center justify-content-center vh-100 justify-content-center"
  style="
    background-image: url('/assets/img/login/login.jpg');
    background-size: 100% 100%;
  "
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="form-area login-form row justify-content-center">
          <div class="form-input">
            <img
              class="img-fluid mx-auto d-block mb-3"
              src="assets/img/logos/logo_fps.png"
              width="80%"
            />
            <h3 class="text-center">Iniciar Sesión</h3>
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  id="email"
                  [(ngModel)]="login.email"
                  #emailInput="ngModel"
                  required
                />
                <label>Correo</label>
                <div
                  *ngIf="emailInput.invalid && emailInput.touched"
                  class="text-danger"
                >
                  Ingrese el correo
                </div>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  id="password"
                  #passwordInput="ngModel"
                  [(ngModel)]="login.password"
                  required
                />
                <label>Contraseña</label>
                <div
                  *ngIf="passwordInput.invalid && passwordInput.touched"
                  class="text-danger"
                >
                  Ingrese la contraseña
                </div>
              </div>
              <div
                class="alert alert-danger mt-3 text-center"
                role="alert"
                [ngClass]="{
                  'd-none': !loginError
                }"
              >
                Usuario y/o contraseña incorrecta
              </div>
              <div class="myform-button">
                <button
                  type="submit"
                  class="myform-btn"
                  [disabled]="loginForm.invalid"
                >
                  Ingresar
                </button>
              </div>
              <div class="text-center mt-3">
                <a href="#" target="_blank" rel="noopener noreferrer"
                  >¿Has olvidado la contraseña?</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
