@font-face {
  font-family: "WorkSans-Regular";
  src: url("/assets/fonts/Work_Sans/static/WorkSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}
a,
a:hover {
  text-decoration: none;
}

.myform-area .form-area .form-content,
.myform-area .form-area .form-input {
  width: 50%;
}

@media (max-width: 768px) {
  .myform-area .form-area .form-content,
  .myform-area .form-area .form-input {
    width: 80%; /* For md and larger */
  }
}

@media (max-width: 1200px) {
  .myform-area .form-area .form-content,
  .myform-area .form-area .form-input {
    width: 70%; /* For md and larger */
  }
}

.myform-area .form-area .form-content {
  width: 50%;
  padding: 40px 30px;
}

.myform-area .form-area .form-content h2 {
  color: #fff;
}
.myform-area .form-area .form-content p {
  color: #fff;
}
.myform-area .form-area .form-content ul {
  margin-top: 50px;
}

.myform-area .form-area .form-content ul li {
  display: inline-block;
  margin-right: 10px;
}
.myform-area .form-area .form-content a i {
  margin-right: 10px;
}

.myform-area .form-area .form-input {
  background-color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 40px 0 #e1e1e1;
}
.myform-area .form-area .form-input {
  /* width: 50%; */
  background: #fff;
  padding: 40px 30px;
}

.myform-area .form-area .form-input h2 {
  margin-bottom: 20px;
  color: #07315b;
}

.myform-area .form-area .form-input input {
  position: relative;
  height: 60px;
  padding: 20px 0;
}
.myform-area .form-area .form-input textarea {
  height: 120px;
  padding: 20px 0;
}

.myform-area .form-area .form-input input,
.myform-area .form-area .form-input textarea {
  text-transform: capitalize;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 2px solid #e1e1e1;
  color: #07315b;
}
.myform-area .form-area .form-input form .form-group {
  position: relative;
}
.myform-area .form-area .form-input form .form-group label {
  position: absolute;
  text-transform: capitalize;
  top: 20px;
  left: 0;
  pointer-events: none;
  font-size: 14px;
  color: #595959;
  margin-bottom: 0;
  transition: all 0.6s;
}
.myform-area .form-area .form-input input:focus ~ label,
.myform-area .form-area .form-input textarea:focus ~ label,
.myform-area .form-area .form-input input:valid ~ label,
.myform-area .form-area .form-input textarea:valid ~ label {
  top: -5px;
  opacity: 0;
  left: 0;
  color: rgba(103, 58, 183);
  font-size: 12px;
  color: #07315b;
  font-weight: bold;
}
.myform-area .form-area .form-input input:focus,
.myform-area .form-area .form-input textarea:focus,
.myform-area .form-area .form-input input:valid,
.myform-area .form-area .form-input textarea:valid {
  /* border-bottom: 2px solid rgba(103, 58, 183); */
  border-bottom: 2px solid rgb(42, 158, 189, 1);
}
.myform-area .form-area .form-text {
  margin-top: 30px;
}
.myform-area .form-area .form-text span a {
  color: rgba(103, 58, 183);
}
.myform-area .form-area .myform-button {
  margin-top: 30px;
}
.myform-area .form-area .myform-button .myform-btn {
  width: 100%;
  height: 50px;
  font-size: 17px;
  background: rgb(42, 158, 189, 1);
  border: none;
  border-radius: 50px;
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.myform-btn:disabled {
  background: rgb(42, 158, 189, 1);
  cursor: not-allowed;
  opacity: 0.5;
}
