<div ngbAccordion>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>{{ area.nombre }}</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <div
          class="text-end mb-3"
          [ngClass]="{
            'd-none': !isAdmin
          }"
        >
          <button
            class="btn btn-info me-1"
            (click)="resetForm(area.id); openModalFuncionarios()"
          >
            <i class="fas fa-plus"></i> Agregar funcionario
          </button>
          <button
            class="btn btn-warning me-1"
            (click)="changeAreaName(area.nombre, area.id)"
          >
            <i class="fas fa-edit"></i> Editar
          </button>
          <button
            class="btn btn-danger"
            (click)="deleteArea(area.nombre, area.id)"
          >
            <i class="fas fa-trash"></i> Eliminar
          </button>
        </div>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>NOMBRE</th>
                <th>CARGO</th>
                <th>CORREO ELECTRÓNICO</th>
                <th>UBICACIÓN / SEDE</th>
                <th>CIUDAD</th>
                <th>TELÉFONO</th>
                <th
                  width="100px"
                  [ngClass]="{
                    'd-none': !isAdmin
                  }"
                >
                  ACCIONES
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let funcionario of area.funcionarios; let i = index">
                <td>{{ funcionario?.nombre }}</td>
                <td>{{ funcionario?.cargo }}</td>
                <td>{{ funcionario?.correo }}</td>
                <td>{{ funcionario?.ubicacion }}</td>
                <td>{{ funcionario?.ciudad }}</td>
                <td>{{ funcionario?.telefono }}</td>
                <td *ngIf="funcionario && isAdmin">
                  <button
                    class="btn btn-warning me-1"
                    (click)="
                      funcionarioId = funcionario.id;
                      getFuncionario();
                      openModalFuncionarios()
                    "
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    (click)="
                      funcionarioId = funcionario?.id;
                      deleteFuncionario(funcionario?.nombre, funcionario?.id)
                    "
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
