<div class="position-relative">
  <div class="gov-fondo position-absolute"></div>
  <div class="govco-data-front position-relative container">
    <div class="row py-3 p-sm-4">
      <div class="col-12 col-lg-4">
        <div class="col-12 col-lg-4 mt-4 d-block d-lg-none"></div>
        <a href="/" rel="home" class="col-10 col-sm-8 col-md-7">
          <img class="col-12" src="assets/img/logos/logo_fps.svg" />
        </a>
      </div>
      <div class="col-12 col-lg-8 d-none d-lg-block">
        <p>
          Bogota D.C., Colombia<br />
          <b>Dirección: </b>Calle 73 No. 11 – 66, Torre 73 (Bogota-Colombia)<br />

          <b>E-mail: </b
          ><a href="mailto:quejasyreclamos@fps.gov.co" target="_blank">{{
            "quejasyreclamos@fps.gov.co"
          }}</a
          ><br />
          <b>E-mail Notificaciones judiciales: </b
          ><a
            href="mailto:notificacionesjudiciales@fps.gov.co"
            target="_blank"
            >{{ "notificacionesjudiciales@fps.gov.co" }}</a
          >
          -
          <a href="mailto:comunicaciones@fps.gov.co">{{
            "comunicaciones@fps.gov.co"
          }}</a
          ><br />
          <b>PBX: </b>(57) (1)3817171 - Ext. 100, 173, 181 y 180 - 2476775<br />
          <b>Línea Gratuita: </b>01-8000-09-12206<br />
          <b>Horario de atención Virtual: </b>Días hábiles en jornada continua
          08:00 a.m., a 04:30 p.m.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govco-footer-logo position-relative">
  <div class="govco-logo-container">
    <a href="https://colombia.co/" target="_blank">
      <span class="govco-co"></span
    ></a>
    <span class="govco-separator"></span>
    <a href="https://www.gov.co/" target="_blank">
      <span class="govco-logo"></span
    ></a>
  </div>
</div>
