<div class="col-lg-10 offset-lg-1 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="titulo-h1">Cambiar contraseña</h1>
          <!-- <h2 class="titulo-h2">
            {{ this.name }}
          </h2> -->
        </div>
        <form [formGroup]="form" (ngSubmit)="checkCurrentPassword()">
          <div class="col-lg-12 mb-3">
            <label class="form-label required">Contraseña</label>
            <div class="input-group">
              <input
                id="currentPassword"
                type="password"
                class="form-control"
                formControlName="currentPassword"
                [ngClass]="{
                  'is-invalid':
                    form.get('currentPassword')?.invalid &&
                    form.get('currentPassword')?.touched
                }"
              />
              <span
                class="input-group-text"
                (click)="showPassword('currentPassword', 'showCurrentPassword')"
                ><i class="fa-solid fa-eye" id="showCurrentPassword"></i
              ></span>
              <div
                class="invalid-feedback"
                *ngIf="
                  form.get('currentPassword')?.invalid &&
                  form.get('currentPassword')?.touched
                "
              >
                Este campo es requerido
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-3">
            <label class="form-label required">Nueva contraseña</label>
            <div class="input-group">
              <input
                id="newPassword"
                type="password"
                class="form-control"
                formControlName="newPassword"
                [ngClass]="{
                  'is-invalid':
                    form.get('newPassword')?.invalid &&
                    form.get('newPassword')?.touched
                }"
              />
              <span
                class="input-group-text"
                (click)="showPassword('newPassword', 'showNewPassword')"
                ><i class="fa-solid fa-eye" id="showNewPassword"></i
              ></span>
              <div
                class="invalid-feedback"
                *ngIf="
                  form.get('newPassword')?.hasError('required') &&
                  form.get('newPassword')?.touched
                "
              >
                Este campo es requerido
              </div>
              <div
                class="invalid-feedback"
                *ngIf="
                  form.get('newPassword')?.hasError('minlength') &&
                  !form.get('newPassword')?.hasError('required')
                "
              >
                Mínimo 8 caracteres
              </div>
              <div
                class="invalid-feedback"
                *ngIf="
                  form.get('newPassword')?.hasError('pattern') &&
                  !form.get('newPassword')?.hasError('minlength') &&
                  !form.get('newPassword')?.hasError('required')
                "
              >
                La contraseña debe incluir como mínimo una mayúscula, una
                minúscula, un número y carácter especial
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-3">
            <label class="form-label required">Confirmar contraseña</label>
            <div class="input-group">
              <input
                id="confirmPassword"
                type="password"
                class="form-control"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-invalid':
                    form.get('confirmPassword')?.invalid &&
                    form.get('confirmPassword')?.touched
                }"
              />
              <span
                class="input-group-text"
                (click)="showPassword('confirmPassword', 'showConfirmPassword')"
                ><i class="fa-solid fa-eye" id="showConfirmPassword"></i
              ></span>

              <div
                class="invalid-feedback"
                *ngIf="
                  form.get('confirmPassword')?.hasError('required') &&
                  form.get('confirmPassword')?.touched
                "
              >
                Este campo es requerido
              </div>
              <div
                class="invalid-feedback"
                *ngIf="
                  form.get('confirmPassword')?.hasError('minlength') &&
                  !form.get('confirmPassword')?.hasError('required')
                "
              >
                Mínimo 8 caracteres
              </div>
              <div
                class="invalid-feedback"
                *ngIf="
                  form.get('confirmPassword')?.hasError('pattern') &&
                  !form.get('confirmPassword')?.hasError('minlength') &&
                  !form.get('confirmPassword')?.hasError('required')
                "
              >
                La contraseña debe incluir como mínimo una mayúscula, una
                minúscula, un número y carácter especial
              </div>
              <div class="invalid-feedback" *ngIf="isPasswordsMismatch()">
                Las contraseñas no coinciden
              </div>
            </div>
          </div>
          <div class="col-lg-6 offset-lg-3">
            <div class="d-grid gap-2">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="form.invalid"
              >
                Cambiar contraseña
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
