<div class="container p-0 mt-4 mb-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <h1 class="titleSection">
              <span class="pe-2">Recursos <i class="fas fa-cogs"></i></span>
            </h1>
            <a
              href="http://132.255.23.82/certificado_dianformtemp.asp"
              target="_blank"
              ><i class="fas fa-file-alt"></i> Certificado de ingresos y
              retenciones</a
            >
            <br />
            <a
              href="http://132.255.23.82/plantilla.asp?id=query_certificado.asp"
              target="_blank"
              ><i class="fas fa-file-prescription"></i> Certificaciones salud</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <h1 class="titleSection">
              <span class="pe-2"
                >Acceso directo <i class="fas fa-external-link-alt"></i
              ></span>
            </h1>
            <a href=""><i class="far fa-window-maximize"></i> ORFEO</a>
            <br />
            <a href="http://correo.fps.gov.co" target="_blank"
              ><i class="fas fa-envelope"></i> Correo electrónico</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <h1 class="titleSection">
              <span class="pe-2"
                >Bienestar <i class="fas fa-hand-holding-medical"></i>
              </span>
            </h1>
            <a href="index"><i class="fas fa-futbol"></i> Torneo 2020</a><br />
            <a href="index"><i class="fas fa-walking"></i> Pausas activas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
