<div class="user-menu">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          <i class="fa-solid fa-user"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem [disabled]="true">
            {{ this.name }}
          </button>
          <button ngbDropdownItem (click)="navigateChangePassword()">
            Cambiar contraseña
          </button>
          <button ngbDropdownItem (click)="onLogout()">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </div>
</div>
