<div class="container p-0 mb-5">
  <h1 class="titleSection"><span class="p-0 pe-2">Multimedia</span></h1>
  <div class="row mt-4">
    <div class="col-lg-4 mt-2">
      <div class="card text-white">
        <div class="card-body p-0">
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/xiM_MAtOihg"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="card-footer">
          <p class="text-white">
            <b>Valor: compromiso</b>
          </p>
          <label>06 de Septiembre 2022</label>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="card text-white">
        <div class="card-body p-0">
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/bdChplUIuhU"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="card-footer">
          <p class="text-white">
            <b>SOY FONPAS, DESCÚBREME!</b>
          </p>
          <label>01 de julio de 2021</label>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="card text-white">
        <div class="card-body p-0">
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/DDYMOjky5XY"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="card-footer">
          <p class="text-white">
            <b
              >Gestión, aprobación de documentos institucionales para el SIG en
              FPS</b
            >
          </p>
          <label>15 de febrero de 2022</label>
        </div>
      </div>
    </div>
  </div>
</div>
